.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--blue {
  color: #2196f3;
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.header__logo {
  margin-right: 93px;
}

.footer-contacts__logo {
  margin-bottom: 20px;
}
